.cardContainer {
    margin: 1.5rem 0;
}

.spinner-top {
    margin-top: 50%;
}

.isfavorite {
    color: red;
}

.margin-bottom {
    margin-bottom: 200px;
}

.noFavorites {
    margin-top: 50%;
    font-weight: bold;
    font-size: 20px;
}
