<router-outlet></router-outlet>

<div class="footer">
    <div class="row mt-1">
        <div class="col-6 borderRight">
            <a class="TabText" routerLink="/home" routerLinkActive="active">
                <div><i class="bi bi-images"></i></div>
                Latest tab
            </a>

        </div>
        <div class="col-6">
            <a class="TabText" routerLink="/favorites" routerLinkActive="active">
                <div> <i class="bi bi-heart-fill"></i></div>
                Your Favourites tab
            </a>
        </div>
    </div>
</div>